# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode cache files
__pycache__/

# Ignore Python virtual environment files
FUSE_env/

# Ignore compiled Python files
*.pyc
*.pyo

