einops==0.8.0
ezyrb==1.3.0.post2404
flax==0.10.0
jax==0.4.34
kymatio==0.3.0
lampe==0.9.0
local_attention_flax==0.0.2
matplotlib==3.9.2
netCDF4==1.7.1.post2
numpy==2.1.2
optax==0.2.3
pandas==2.2.3
PyYAML==6.0.2
scipy==1.14.1
smithers==0.0.1
torch==2.4.0
tqdm==4.66.4
wandb==0.18.3
